In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [6]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [8]:
x=df.iloc[:, :df.shape[1]-1].values
y=df.iloc[:,-1].values
x.shape, y.shape

((10000, 10), (10000,))

In [9]:
print(x[:8,1], '... will now become: ')
label_x_country_encoder = LabelEncoder()
x[:,1] = label_x_country_encoder.fit_transform(x[:,1])
print(x[:8,1])

['France' 'Spain' 'France' 'France' 'Spain' 'Spain' 'France' 'Germany'] ... will now become:
[0 2 0 0 2 2 0 1]

In [10]:
print(x[:6,2], '... will now become: ')
label_x_gender_encoder = LabelEncoder()
x[:,2] = label_x_gender_encoder.fit_transform(x[:,2])
print(x[:6,2])

['Female' 'Female' 'Female' 'Female' 'Female' 'Male'] ... will now become:
[0 0 0 0 0 1]

In [11]:
transform = ColumnTransformer([("countries", OneHotEncoder(), [1])], remainder="passthrough") #
x = transform.fit_transform(x)
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [12]:
x = x[:,1:]
x.shape

(10000, 11)

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [14]:
sc=StandardScaler()
x_train[:,np.array([2,4,5,6,7,10])] = sc.fit_transform(x_train[:,np.array([2,4,5,6,7,10])])
x_test[:,np.array([2,4,5,6,7,10])] = sc.transform(x_test[:,np.array([2,4,5,6,7,10])])

In [15]:
sc=StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
x_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [16]:
from tensorflow.keras.models import Sequential

classifier = Sequential()

In [17]:
from tensorflow.keras.layers import Dense
classifier.add(Dense(activation = 'relu', input_dim = 11, units=6, kernel_initializer='uniform'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
classifier.add(Dense(activation = 'relu', units=512, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=256, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=128, kernel_initializer='uniform'))

In [19]:
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [20]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [21]:
classifier.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 6)                          72

 dense_1 (Dense)                  (None, 512)                     3,584

 dense_2 (Dense)                  (None, 256)                   131,328

 dense_3 (Dense)                  (None, 128)                    32,896

 dense_4 (Dense)                  (None, 1)                         129

 Total params: 168,009 (656.29 KB)

 Trainable params: 168,009 (656.29 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
classifier.fit(
 x_train, y_train,
 validation_data=(x_test,y_test),
 epochs=20,
 batch_size=32
)

Epoch 1/20
250/250  3s 7ms/step - accuracy: 0.7946 - loss: 0.5146 - val_accuracy: 0.7975 - val_loss: 0.4235
Epoch 2/20
250/250  1s 3ms/step - accuracy: 0.8153 - loss: 0.4303 - val_accuracy: 0.8345 - val_loss: 0.4107
Epoch 3/20
250/250  1s 3ms/step - accuracy: 0.8338 - loss: 0.4165 - val_accuracy: 0.8395 - val_loss: 0.4131
Epoch 4/20
250/250  1s 3ms/step - accuracy: 0.8326 - loss: 0.4072 - val_accuracy: 0.8350 - val_loss: 0.3997
Epoch 5/20
250/250  1s 3ms/step - accuracy: 0.8234 - loss: 0.4169 - val_accuracy: 0.8375 - val_loss: 0.3984
Epoch 6/20
250/250  1s 4ms/step - accuracy: 0.8387 - loss: 0.3940 - val_accuracy: 0.8390 - val_loss: 0.3986
Epoch 7/20
250/250  1s 4ms/step - accuracy: 0.8329 - loss: 0.4027 - val_accuracy: 0.8445 - val_loss: 0.3928
Epoch 8/20
250/250  1s 3ms/step - accuracy: 0.8324 - loss: 0.4112 - val_accuracy: 0.8450 - val_loss: 0.3950
Epoch 9/20
250/250  1s 3ms/step - accuracy: 0.8371 - loss: 0.4026 - val_accuracy: 0.8400 - val_loss: 0.3978
Epoch 10/20
250/250  1s 3ms/step - accuracy: 0.8451 - loss: 0.3823 - val_accuracy: 0.8440 - val_loss: 0.3901
Epoch 11/20
250/250  1s 4ms/step - accuracy: 0.8326 - loss: 0.3945 - val_accuracy: 0.8430 - val_loss: 0.3940
Epoch 12/20
250/250  2s 6ms/step - accuracy: 0.8361 - loss: 0.3992 - val_accuracy: 0.8405 - val_loss: 0.3944
Epoch 13/20
250/250  1s 4ms/step - accuracy: 0.8358 - loss: 0.4056 - val_accuracy: 0.8420 - val_loss: 0.3923
Epoch 14/20
250/250  1s 3ms/step - accuracy: 0.8317 - loss: 0.4015 - val_accuracy: 0.8350 - val_loss: 0.3991
Epoch 15/20
250/250  1s 3ms/step - accuracy: 0.8357 - loss: 0.4006 - val_accuracy: 0.8440 - val_loss: 0.3938
Epoch 16/20
250/250  1s 3ms/step - accuracy: 0.8311 - loss: 0.3951 - val_accuracy: 0.8445 - val_loss: 0.3909
Epoch 17/20
250/250  1s 3ms/step - accuracy: 0.8389 - loss: 0.3930 - val_accuracy: 0.8450 - val_loss: 0.3913
Epoch 18/20
250/250  1s 3ms/step - accuracy: 0.8385 - loss: 0.3900 - val_accuracy: 0.8485 - val_loss: 0.3896
Epoch 19/20
250/250  1s 3ms/step - accuracy: 0.8441 - loss: 0.3818 - val_accuracy: 0.8455 - val_loss: 0.3943
Epoch 20/20
250/250  1s 4ms/step - accuracy: 0.8345 - loss: 0.3974 - val_accuracy: 0.8440 - val_loss: 0.3926

In [23]:
y_pred = classifier.predict(x_test)
y_pred

63/63  0s 2ms/step

array([[0.21355805],
       [0.36680886],
       [0.192343  ],
       ...,
       [0.15893824],
       [0.13528925],
       [0.14097327]], dtype=float32)

In [24]:
y_pred = classifier.predict(x_test)
y_pred

63/63  0s 1ms/step

array([[0.21355805],
       [0.36680886],
       [0.192343  ],
       ...,
       [0.15893824],
       [0.13528925],
       [0.14097327]], dtype=float32)

In [25]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [26]:
from sklearn.metrics import confusion_matrix,classification_report
cm1 = confusion_matrix(y_test, y_pred)
cm1

array([[1536,   59],
       [ 253,  152]])

In [27]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.91      1595
           1       0.72      0.38      0.49       405

    accuracy                           0.84      2000
   macro avg       0.79      0.67      0.70      2000
weighted avg       0.83      0.84      0.82      2000

In [28]:
accuracy_model1 = ((cm1[0][0]+cm1[1][1])*100)/(cm1[0][0]+cm1[1][1]+cm1[0][1]+cm1[1][0])
print (accuracy_model1, '% of testing data was classified correctly')

84.4 % of testing data was classified correctly