In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

In [5]:
df = pd.read_csv('emails.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Columns: 3002 entries, Email No. to Prediction
dtypes: float64(2344), int64(657), object(1)
memory usage: 39.7+ MB

In [7]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
df.dtypes

Email No.      object
the             int64
to              int64
ect             int64
and             int64
               ...
military      float64
allowing      float64
ff            float64
dry           float64
Prediction    float64
Length: 3002, dtype: object

In [9]:
df.drop(columns=['Email No.'], inplace=True)

In [10]:
df.isna().sum()

the           0
to            0
ect           0
and           0
for           0
             ..
military      1
allowing      1
ff            1
dry           1
Prediction    1
Length: 3001, dtype: int64

In [11]:
df=df.dropna()

In [12]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,...,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000,1733.000000
mean,6.724178,6.330641,6.502020,2.995961,3.271783,2.546451,58.708598,2.596653,2.596076,10.745528,...,0.012695,0.006347,0.006924,0.099250,0.005770,0.002885,0.006924,1.006347,0.008656,0.278130
std,11.872693,9.686946,18.574319,5.862600,4.817512,5.628076,95.178069,4.504364,9.107558,18.048862,...,0.165989,0.098868,0.089639,0.611159,0.112556,0.053652,0.101709,3.377426,0.092658,0.448207
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,13.000000,0.000000,0.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,2.000000,1.000000,2.000000,1.000000,30.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,5.000000,3.000000,4.000000,2.000000,64.000000,3.000000,2.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,83.000000,39.000000,77.000000,1898.000000,42.000000,167.000000,223.000000,...,4.000000,3.000000,2.000000,12.000000,3.000000,1.000000,3.000000,114.000000,1.000000,1.000000

In [13]:
x=df.iloc[:, :df.shape[1]-1]
y=df.iloc[:, -1]
x.shape, y.shape

((1733, 3000), (1733,))

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=8)

In [15]:
models = {
    "K-Nearest Neighbors": KNeighborsClassifier(n_neighbors=2),
    "Linear SVM":LinearSVC(random_state=8, max_iter=900000),
    "Polynomical SVM":SVC(kernel="poly", degree=2, random_state=8),
    "RBF SVM":SVC(kernel="rbf", random_state=8),
    "Sigmoid SVM":SVC(kernel="sigmoid", random_state=8)
}

In [16]:
for model_name, model in models.items():
    y_pred=model.fit(x_train, y_train).predict(x_test)
    print(f"Accuracy for {model_name} model \t: {metrics.accuracy_score(y_test, y_pred)}")

Accuracy for K-Nearest Neighbors model 	: 0.9
Accuracy for Linear SVM model 	: 0.9307692307692308
Accuracy for Polynomical SVM model 	: 0.7692307692307693
Accuracy for RBF SVM model 	: 0.7961538461538461
Accuracy for Sigmoid SVM model 	: 0.6230769230769231